@font-face {
  font-family: opensans-regular;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: opensans-bold;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: opensans-regular;
}

a {
  text-decoration: none;
}

.page-header {
  background-color: #0a013a;
  background-image: url(../images/football_767.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  position: relative;
}

.page-header::after {
  content: " ";
  background-color: #0a013a;
  position: absolute;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header-container {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  z-index: 1;
  padding-top: 32px;
  padding-bottom: 85px;
}
  
.surface-logo {
  display: block;
  width: 132px;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 136px;
}

.surface-logo-img {
  width: 132px;
  fill: #ffffff;
}

.slogan-container {
  margin-bottom: 90px;
}

.slogan {
  margin: 0;
  color: #ffffff;
  font-family: opensans-bold;
  font-size: 28px;
  text-transform: uppercase;
}

.first-slogan {
  margin-bottom: 30px;
}

.second-slogan {
  margin-left: 44px;
}

.app-link {
  display: block;
  background-color: #5e42b0;
  height: 35px;
  border-radius: 16px;  
}

.app-link:hover {
  background-color: #8a66f5;
}

.app-link-first {
  margin-bottom: 14px;
}

.app-link-button {
  display: flex;
  margin-left: 80px;
  height: 35px;
  align-items: center;
  
}

.store-logo {
  height: 22px;
}

.store-logo-img {
  height: 22px;
  fill: #ffffff;
}

.store-text {
  margin-left: 9px;
}

.store-text-line {
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 8px;
}

.store-name {
  font-family: opensans-bold;
}

.first-section {
  position: relative;
}

.section-header-container {
  height: 305px;
  padding-left: 20px;
  padding-right: 20px;  
}

.section-header {
  font-family: opensans-bold;
  font-size: 50px;
  text-transform: uppercase;
  color: #e7e7e7;  
  margin-top: 25px;
}

.section-img {
  position: absolute;
  top: 80px;      
}

.first-section-img {
  margin-left: calc(50% - 192px/2);
}

.connection-container {
  padding: 82px 20px 55px;
  background-color: #fafafa;
}

.article-header {
  font-family: opensans-bold;
  color: #c1c1c1;
  font-size: 23px;
  text-transform: uppercase;
  margin: 0;
}

.connection-article-header::before {
  content: "01";
  color: #000000;
  font-size: 14px;
  border-bottom: 4px solid #5e42b0;
  position: relative;
  top: -7px;
  margin-right: 5px;
}

.article-text {  
  font-size: 15px;
  margin-top: 28px; 
  margin-bottom: 0; 
}

.collaboration-container {
  padding: 60px 20px 55px;
  background-color: #f5f4f9;
}

.collaboration-article-header::before {
  content: "02";
  color: #000000;
  font-size: 14px;
  border-bottom: 4px solid #5e42b0;
  position: relative;
  top: -7px;
  margin-right: 5px;
}

.growth-container {
  padding: 60px 20px 55px;
  background-color: #5e42b0;
}

.growth-article-header::before {
  content: "03";
  color: #000000;
  font-size: 14px;
  border-bottom: 4px solid #ffffff;
  position: relative;
  top: -7px;
  margin-right: 5px;
}

.article-text-white {
  color: #ffffff;
}

.second-section-img {
  margin-left: calc(50% - 302px/2);
}

.second-growth-container {
  background-color: #090c35;
}

.second-growth-article-header::before {
  color: #8765dd;  
}

.second-section-img-container {
  height: 350px;
  background-image: url(../images/be-active_640.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;  
}

.second-section-article {
  padding: 37px 20px 80px;
  position: relative;
}

.second-section-article-number-container {
  width: 70px;
  height: 70px;
  background-color: #5e42b0;
  text-align: center;
  position: absolute;
  top: -58px;
} 

.second-section-article-number {
  border-bottom: 4px solid #8f7bc8;
  color: #f5f6f7;
  font-size: 14px;
  line-height: 66px;
}

.second-section-article-header {
  font-family: opensans-bold;
  text-transform: uppercase;
  font-size: 28px;
  color: #e7e7e7;
  margin: 0;
}

.second-section-article-text {
  font-size: 16px;
  margin-top: 28px;
  margin-bottom: 0;
}

.second-section-img-container-findcontact {
  height: 350px;
  background-image: url(../images/find-contact_640.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover; 
}

.second-section-img-container-workit {
  height: 350px;
  background-image: url(../images/work-it_640.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover; 
}

.page-footer {
  background-color: #0a013a;
  background-image: url(../images/game_767.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  position: relative;
}

.page-footer::after {
  content: " ";
  background-color: #0a013a;
  position: absolute;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.page-footer-container {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 10px;
}

.logo-container {
  width: 72px;
  height: 74px;
  background-color: #7151ce;
  border-radius: 13px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.surface-short-logo-img {
  fill: #ffffff;
  width: 58px;
  position: absolute;
  left: 7px;
  top: 10px;
}

.footer-slogan-container {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 75px;
}

.footer-first-slogan {
  font-family: opensans-bold;
  text-transform: uppercase;
  font-size: 32px;
  color: #ffffff;
  margin: 0;
}

.footer-second-slogan {
  font-size: 14px;
  text-transform: uppercase;
  color: #9b8ec1;
  margin-top: 13px;
  margin-bottom: 0;
}














.surface-logo-footer {
  margin-bottom: 0;
  margin-top: 82px;
}